.sidebar-container {
  background-color: #d162f3;
  border-right: 1px solid #0a0a0a;
}

.sidebar {
  padding: 20px;
  height: 100%;
}

.sidebar-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #333333;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #ffcc00;
  border-bottom: 1px solid #ffcc00;
}
